<div class="container">
<% breadcrumb :show_user, @user %>
    <!-- ユーザープロフィール -->
<div class="user-profile">
    <div class="icon text-center">
        <img width="100px" src="https://supplebox.s3.amazonaws.com/uploads/user/picture/2/kaisya_man.png">
    </div>
    <div class="name text-center">
        <h1>テスト</h1>
    </div>
    <div class="text-center">
        <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-success"%>
    </div>
    <div class="status text-center">
        <ul>
        <li>
        <div class="status-label">ユーザー名</div>
        <div class="status-value">
            <%= @user.name %>
        </div>
        </li>
        <li>
        <div class="status-label">性別</div>
            <div class="status-value"><%= @user.gender %></div>
        </li>
        <li>
        <div class="status-label">身長</div>
        <div class="status-value"><%= @user.height %></div>
        </li>
        <li>
        <div class="status-label">体重</div>
        <div class="status-value"><%= @user.weight %></div>
        </li>
        </ul>
        <div class="status comment text-center">
        <ul>
        <li>
        <div class="status-label">自己紹介</div>
        <div class="status-value"><%= @user.comment %></div>
        </li>
        </ul>
        </div>
        </div>
        </div>

<!-- /ユーザープロフィール -->
<div class="col-md-12">
<!-- ユーザーナビバー -->
<ul class="nav nav-tabs nav-justified">
<li class="active">
<a href="/users/2">口コミ
<span class="badge">2</span>
</a></li>
<li class="">
<a href="/users/2/like_products">お気に入り
<span class="badge">17</span>
</a></li>
<li class="">
<a href="/users/2/followings">フォロー
<span class="badge">8</span>
</a></li>
<li class="">
<a href="/users/2/followers">フォロワー
<span class="badge">2</span>
</a></li>
</ul>

<!-- /ユーザーナビバー -->
<!-- 口コミ一覧 -->
<div class="row posts">
<div class="col-md-2 posts-user">
<a href="/users/2"><img width="100px" src="https://supplebox.s3.amazonaws.com/uploads/user/picture/2/kaisya_man.png">
</a><p class="posts-title"><a href="/users/2">AAAAdfsfdfdnnnnnn</a></p>
<p class="posts-prof">
男性
200cm超
100kg超
</p>
</div>
<div class="col-md-6 mb-3">
<div class="posts-content">
<p>2020/11/06 17:16</p>
<h4 class="mb-3">
評価：4.0点 | xdfgchjkjlhkhgfxhhj
</h4>
<!-- 星評価 -->
<div id="star-rate-109" title="good"><img alt="1" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="good">&nbsp;<img alt="2" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="good">&nbsp;<img alt="3" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="good">&nbsp;<img alt="4" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="good">&nbsp;<img alt="5" src="/assets/star-off-90377df9480bb45c07a917cae8f9ad2fd60264c7c727c2ad4891cc08c293ab6a.png" title="good"><input name="score" type="hidden" value="4" readonly=""></div>
<script>
  $('#star-rate-109').raty({
    size: 36,
    starOff:  '/assets/star-off-90377df9480bb45c07a917cae8f9ad2fd60264c7c727c2ad4891cc08c293ab6a.png',
    starOn : '/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png',
    starHalf: '/assets/star-half-fef4aaaf257fbb04487fe35b66b8040160a67ecdf7d591f411dc511d8010db58.png',
    half: true,
    readOnly: true,
    score: 4.0,
  });
</script>

<p>zdsfggyhuji</p>

</div>
</div>
<div class="col-md-4">
<a href="/products/3"><div class="posts-product">
<img alt="" src="https://images-fe.ssl-images-amazon.com/images/I/51WayBZKJTL.jpg">
<p>明治 ザバス ソイプロテイン100 ココア味【50食分】 1,050g</p>
</div>
</a></div>
<div class="col-md-12 edit-button">
<a class="btn btn-default" data-method="get" href="/posts/109/edit">口コミを編集</a>
<a class="btn btn-default" rel="nofollow" data-method="delete" href="/posts/109">口コミを削除</a>
</div>
</div>
<div class="row posts">
<div class="col-md-2 posts-user">
<a href="/users/2"><img width="100px" src="https://supplebox.s3.amazonaws.com/uploads/user/picture/2/kaisya_man.png">
</a><p class="posts-title"><a href="/users/2">AAAAdfsfdfdnnnnnn</a></p>
<p class="posts-prof">
男性
200cm超
100kg超
</p>
</div>
<div class="col-md-6 mb-3">
<div class="posts-content">
<p>2020/10/10 22:57</p>
<h4 class="mb-3">
評価：5.0点 | 激うま
</h4>
<!-- 星評価 -->
<div id="star-rate-107" title="gorgeous"><img alt="1" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="gorgeous">&nbsp;<img alt="2" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="gorgeous">&nbsp;<img alt="3" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="gorgeous">&nbsp;<img alt="4" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="gorgeous">&nbsp;<img alt="5" src="/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png" title="gorgeous"><input name="score" type="hidden" value="5" readonly=""></div>
<script>
  $('#star-rate-107').raty({
    size: 36,
    starOff:  '/assets/star-off-90377df9480bb45c07a917cae8f9ad2fd60264c7c727c2ad4891cc08c293ab6a.png',
    starOn : '/assets/star-on-7d565687c6956753f78b946458a497319480f19d4245217b70828415cac1885f.png',
    starHalf: '/assets/star-half-fef4aaaf257fbb04487fe35b66b8040160a67ecdf7d591f411dc511d8010db58.png',
    half: true,
    readOnly: true,
    score: 5.0,
  });
</script>

<p></p>

</div>
</div>
<div class="col-md-4">
<a href="/products/2"><div class="posts-product">
<img alt="" src="https://images-fe.ssl-images-amazon.com/images/I/51MRScMCrKL.jpg">
<p>明治 ザバス ウェイトダウン ヨーグルト風味【50食分】 1,050g</p>
</div>
</a></div>
<div class="col-md-12 edit-button">
<a class="btn btn-default" data-method="get" href="/posts/107/edit">口コミを編集</a>
<a class="btn btn-default" rel="nofollow" data-method="delete" href="/posts/107">口コミを削除</a>
</div>
</div>

<!-- ページネーション -->

2件の口コミが表示されています
<!-- /口コミ一覧 -->
</div>

</div>