<div class="container">

<% breadcrumb :new_brand, @brand %>
<h1>ブランド投稿</h1>
<!-- ブランド入力フォーム -->
<%= form_for @brand do |f| %>
<!-- ブランドネーム -->
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="brand_name">ブランドネーム </label>
        <div class="col-md-9">
            <%= f.text_field :name, class: "form-control" %>
        </div>
    </div>
<!-- 紹介文 -->
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="brand_content">ブランド内容 </label>
        <div class="col-md-9">
            <%= f.text_area :content, class: "form-control" %>
        </div>
    </div>
<!-- ブランド画像 -->
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="brand_picture">ブランド画像 </label>
        <div class="col-md-9">
            <%#= image_tag @brand.picture.url, class: "form-control"%>
            <%= f.file_field :picture, accept: 'rails.peng'%>
        </div>
    </div>
<!-- 確認ボタン -->
    <div class="form-group row justify-content-end">
        <div class="col-md-9">
            <%= f.submit '投稿する', class: 'btn btn-success'%>  
        </div>
    </div>
<!-- 画像チェック -->
<script>
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('最大のファイルサイズは5MBです。ファイルサイズを小さくしてください。');
    }
  });
</script>
    <% end %>
</div>