<div class="container">
    <% breadcrumb :brands, @brand %>
    <h2>ブランド一覧</h2>
    <!-- ブランド検索 -->
    <div class="search">
        <div class="row">
            <div class="text-center m-auto">
                <%= search_form_for @q, class: 'form-line' do |f| %>
                    <div class="form-group">
                        <%= f.text_field :name, class: 'form-control input-lg', placeholder: "例）SAVAS や ザバス", size: 40 %>
                    </div>
                    <%= f.submit 'ブランドを検索', class: "btn btn-success btn-lg"%>
                <% end %>
            </div>   
        </div>
    </div>
    <!-- ブランド一覧 -->
        <div class="row">
            <% @brands.each do |brand| %>
            <div class="col-md-4 col-xs-12">
                <div class="users">
                    <%= link_to brand_path(brand) do %>
                        <%= image_tag brand.picture.url %>
                        <p><%= brand.name%></p>
                    <% end %>
                </div>
            </div> 
            <% end %>  
        </div>
    </div>
    <!-- ページネーション -->
    <%= paginate @brands %>
    <%= page_entries_info @brands %>
</div>